@tailwind base;
@tailwind components;
@tailwind utilities;
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0px 40px 0px 40px;
  background-color: rgb(240, 247, 255);
}
